.tags-input{
    display:inline-block;
    padding:0 2px;
    background:#FFF;
    color: #444;
    /*border:1px solid #CCC;*/
    width: 30em;
    border-radius:6px;
    padding: 5px;
    box-shadow:inset 0 -1px 3px rgba(0,0,0,.2)
}
.tags-input .tag{
    display:inline-block;
    background:#EEE;
    color:#444;
    padding:3px 5px;
    margin:2px;
    /*border:1px solid #CCC;*/
    border-radius:4px;
    font:inherit;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor:pointer;
    transition:all .1s ease
}
.tags-input .tag.selected{
    background-color:#555;
    border-color:#777;
    color:#EEE
}
.tags-input .tag.dupe{
    -webkit-transform:scale3d(1.2,1.2,1.2);
    transform:scale3d(1.2,1.2,1.2);
    background-color:#FCC;
    border-color:#700
}
.tags-input input{
    -webkit-appearance:none!important;
    -moz-appearance:none!important;
    appearance:none!important;
    display:inline-block!important;
    padding:3px;margin:0!important;
    background:0 0!important;
    border:none!important;
    box-shadow:none!important;
    font:inherit!important;
    font-size:100%!important;
    outline:0!important
}
.tags-input .selected~input{
    opacity:.3
}
/*# sourceMappingURL=tags-input.css.map */