<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-dark bg-gradient-dark" id="sidenav-main"
    style="box-shadow: 0 0px 0px rgba(0, 0, 0, 0) inset, 0 0 0px rgba(0, 0, 0, 0) !important;">
    <div class="container-fluid">
      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Brand -->
{#      <a class="pt-0" href="/">#}
        <div class="nav align-items-center pt-sm-0" style="margin-left: 44px;">
        <img src="{{ STATIC_URL }}img/brand/logo.png" width="110px" height="120px" alt="...">
        </div>
      <!-- User -->
    {% if user.is_authenticated %}
      <ul class="nav align-items-center d-md-none">
        <li class="nav-item dropdown">

          <a class="nav-link nav-link-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="ni ni-bell-55"></i>
          </a>

          <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right" aria-labelledby="navbar-default_dropdown_1">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>

        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="media align-items-center">
              <span class="avatar avatar-sm rounded-circle">
                <img alt="{{ user.username }}" src="{{ MEDIA_URL }}{{ user.picture }}">
              </span>
            </div>
          </a>


          <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
            <div class=" dropdown-header noti-title">
              <h6 class="text-overflow m-0">Здравствуйте!</h6>
            </div>

            <a href="/profile" class="dropdown-item">
              <i class="ni ni-single-02"></i>
              <span>Мой профиль</span>
            </a>

            <a href="../profile.html" class="dropdown-item">
              <i class="ni ni-settings-gear-65"></i>
              <span>Настройки</span>
            </a>

            <a href="../profile.html" class="dropdown-item">
              <i class="ni ni-support-16"></i>
              <span>Поддержка</span>
            </a>

            <div class="dropdown-divider"></div>
            <a href="/logout" class="dropdown-item">
              <i class="ni ni-user-run"></i>
              <span>Выйти</span>
            </a>
          </div>
        </li>
      </ul>
    {% endif %}
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Collapse header -->
        <div class="navbar-collapse-header d-md-none">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="/">
                <img src="{{ STATIC_URL }}img/brand/logo.png">
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main"
              aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>

        <!-- SEARCH -->
        <form class="mt-4 mb-3 d-md-none">
          <div class="input-group input-group-rounded input-group-merge">
            <input type="search" class="form-control form-control-muted" placeholder="Search" aria-label="Search">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <span class="fa fa-search"></span>
              </div>
            </div>
          </div>
        </form>
        <!-- SEND OF EARCH -->

        <!-- Navigation -->
        <ul class="navbar-nav">
          {% if not user.is_authenticated %}
          <li class="nav-item">
          {% if pagename == 'greetings' %}
          <a class=" nav-link active" href="/greetings">
            <i class="ni ni-compass-04 text-primary"></i> concat greetings
            </a>
          {% else %}
            <a class=" nav-link" href="/greetings">
            <i class="ni ni-compass-04 text-blue"></i> concat greetings
            </a>
          {% endif %}
          </li>
            {%  endif %}

          {% if user.is_authenticated %}
          <li class="nav-item">
          {% if pagename == 'Хаб' %}
          <a class=" nav-link active" href="/">
            <i class="ni ni-tv-2 text-primary"></i> Хаб
            </a>
          {% else %}
            <a class=" nav-link" href="/">
            <i class="ni ni-tv-2 text-blue"></i> Хаб
            </a>
          {% endif %}
          </li>
          {%  endif %}

          {% if user.is_authenticated and user.is_confirmed == True %}
          <li class="nav-item">
            {% if pagename == 'Проекты' %}
          <a class=" nav-link active" href="./greetings">
            <i class="ni ni-collection text-primary"></i> Проекты
            </a>
          {% else %}
            <a class=" nav-link" href="./greetings">
            <i class="ni ni-collection text-teal"></i> Проекты
            </a>
          {% endif %}
          </li>
          {% endif %}

          {% if user.is_authenticated and user.is_confirmed == True %}
          <li class="nav-item">
            {% if pagename == 'Создать проект' %}
          <a class=" nav-link active" href="/p/new">
            <i class="ni ni-app text-primary"></i> Новый проект
            </a>
          {% else %}
            <a class=" nav-link" href="/p/new">
            <i class="ni ni-app text-red"></i> Новый проект
            </a>
          {% endif %}
          </li>
          {% endif %}


        {% if not user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/login">
              <i class="ni ni-key-25 text-info"></i> Войти
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">
              <i class="ni ni-circle-08 text-pink"></i> Регистрация
            </a>
          </li>
        {% endif %}
        </ul>

        <!-- Divider -->
        <hr class="my-3">
        <!-- Heading -->
        <!-- <h6 class="navbar-heading text-muted">Другое</h6> -->
        <!-- Navigation -->
        <ul class="navbar-nav mb-md-3">
          <li class="nav-item">
            <a class="nav-link" href="">
              <i class="ni ni-planet"></i> О нас
            </a>
          </li>
        </ul>
      </div>
      <div class="social-buttons">
  <a href="#" class="social-buttons__button social-button social-button--facebook" aria-label="VK">
    <span class="social-button__inner">
     <i class="fab fa-vk" style="font-size: 20px;"></i>
    </span>
  </a>
  <a href="#" class="social-buttons__button social-button social-button--facebook" aria-label="Telegram">
    <span class="social-button__inner">
     <i class="fab fa-telegram-plane" style="font-size: 20px;"></i>
  </span>
  </a>
  <a href="#" class="social-buttons__button social-button social-button--github" aria-label="GitHub">
    <span class="social-button__inner">
     <i class="fab fa-github" style="font-size: 20px;"></i>
    </span>
  </a>

      </div>
    </div>
  </nav>