<ul class="navbar-nav align-items-center d-none d-md-flex">
      <li class="nav-item dropdown">
        <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="media align-items-center">
            <span class="avatar avatar-sm rounded-circle">
              <img alt="user" src="{{ MEDIA_URL }}/{{ picture }}">
            </span>
            <div class="media-body ml-2 d-none d-lg-block">
              <span class="mb-0 text-sm font-weight-bold" style="color: white;">{{ user.username }}</span>
            </div>
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
          <div class=" dropdown-header noti-title">
            <h6 class="text-overflow m-0">Здравствуйте!</h6>
          </div>
          <a href="/u/{{user.hash}}" class="dropdown-item">
            <i class="ni ni-single-02"></i>
            <span>Профиль</span>
          </a>
          <a href="./profile.html" class="dropdown-item">
            <i class="ni ni-settings-gear-65"></i>
            <span>Настройки</span>
          </a>
          <a href="./profile.html" class="dropdown-item">
            <i class="ni ni-support-16"></i>
            <span>Поддержка</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="/logout" class="dropdown-item">
            <i class="ni ni-user-run"></i>
            <span>Выйти</span>
          </a>
        </div>
      </li>
</ul>