<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
      concat
  </title>
  <!-- Favicon -->
  <link href="{{STATIC_URL}}img/brand/logo.png" rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="{{STATIC_URL}}js/plugins/nucleo/css/nucleo.css" rel="stylesheet" />
  <link href="{{STATIC_URL}}js/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="{{STATIC_URL}}css/argon-dashboard.css?v=1.1.0" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="{{STATIC_URL}}css/other_styles.css" rel="stylesheet" />
  <style>
      @media screen and (max-width: 720px) {
      .footer {
          left: 0px;
      }
    }
  </style>
</head>


<body class="">
  {% include "blocks/nav.html" %}

  <div class="main-content ">
    <img src="/static/img/brand/background2_.png" class="bg">
    {% include "blocks/header.html" %}

    <div class="header bg-transparent pb-3 pt-5 pt-md-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row">
          </div>
        </div>
      </div>
    </div>
        {% block content %}
        {% endblock %}

        {% block footer %}
        {% endblock %}
  </div>
  <!--   Core   -->
  <script src="/static/js/plugins/jquery/jquery.min.js"></script>
  <script src="/static/js/plugins/bootstrap/bootstrap.bundle.js"></script>
  <!--   Optional JS   -->
  <script src="/static/js/plugins/chart.js/dist/Chart.min.js"></script>
  <script src="/static/js/plugins/chart.js/dist/Chart.extension.js"></script>
  <script src="/static/js/save.js"></script>

  <script>
      window.setTimeout(function() {
    $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove();
    });
}, 4000);</script>
</body>

</html>
