<!DOCTYPE html>
{% load static %}
<html lang="en" style="">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <!-- Favicon -->
    <link href="{% static "img/brand/logo.png" %}" rel="icon" type="image/png">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="{{STATIC_URL}}js/plugins/nucleo/css/nucleo.css" rel="stylesheet"/>
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <link href="{{STATIC_URL}}js/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


    <!-- CSS Files -->
    <link href="/static/css/other_styles.css" rel="stylesheet"/>
    <link href="/static/css/argon-dashboard.css?v=1.1.0" rel="stylesheet"/>

    <!-- extra CSS Files -->
    {% block extra_links %}
    {% endblock %}

    <style>
        @media screen and (max-width: 720px) {
            .footer {
                left: 0px;
            }
        }
    </style>
</head>

<body style="background: #35274E;">
{% block nav %}
{% include "blocks/nav.html" %}
{% endblock %}

<div class="main-content">
    <span class="user-background">
        <img src="{{STATIC_URL}}img/brand/back1.png" class="bg">
    </span>
    {% block header %}
    {% include "blocks/header.html" %}

    <style>
        {% block styles %}
        {% endblock %}
    </style>

    <div class="header bg-transparent pb-3 pt-5 pt-md-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row">
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% include "blocks/messages.html" %}
    {% block footer %}
    {% endblock %}
</div>

<!--   Core   -->
<script src="{{STATIC_URL}}js/plugins/jquery/jquery.min.js"></script>
{#  <script src="/static/js/plugins/bootstrap/bootstrap.bundle.js"></script>#}
<script src="{{STATIC_URL}}js/plugins/bootstrap/bootstrap.js"></script>
<!--   Optional JS   -->
<script src="{{STATIC_URL}}js/save.js"></script>

<script>
    $(window).on('load', function () {
        $preloader = $('.loaderArea'),
            $loader = $preloader.find('.loader');
        $loader.fadeOut();
        $preloader.delay(350).fadeOut('slow');
    });
</script>

<script>
    $(function () {
        $('body').on('close.bs.alert', function (e) {
            e.preventDefault();
            e.stopPropagation();
            $(e.target).fadeOut();
        });
    });
</script>
<script>
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 4000);
</script>
{% block scripts %}
{% endblock %}
<script src="{{STATIC_URL}}js/plugins/search-ui/choises.js"></script>
</body>

</html>
