{% extends 'base.html' %}

{% block title %}
    concat
{% endblock %}
{% block content %}
{% endblock %}

{% block footer %}
    <footer class="footer_fixed" style="background: #301c4f;">
        <div class="row align-items-center">
          <div class="col-xl-4">
            <div class="copyright text-center text-xl-right text-muted">
              © 2019 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">Creative Tim</a>
            </div>
          </div>
          <div class="col-xl-6">
            <ul class="nav nav-footer justify-content-center justify-content-xl-end">
              <li class="nav-item">
                <a href="https://www.creative-tim.com" class="nav-link" target="_blank">Creative Tim</a>
              </li>
              <li class="nav-item">
                <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About Us</a>
              </li>
              <li class="nav-item">
                <a href="https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link" target="_blank">concat.support@gmail.com</a>
              </li>
            </ul>
          </div>
        </div>
    </footer>
{% endblock %}