{#Profile to template#}
{% extends 'base.html' %}

{% block title %}
    concat
{% endblock %}

{% block extra_links %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.4/croppie.min.css">
    <link rel="script" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.4/croppie.min.js">
    <script src="/static/js/main.js"></script>
{% endblock %}

{% block styles %}
    .CodeMirror, .CodeMirror-scroll {
        min-height: 575px;
    }
{% endblock %}

{% block content %}
    <div class="main-content" style="padding-bottom: 60px;">
    
    <nav class="navbar navbar-top navbar-expand-md navbar" id="navbar-main">
        <div class="container-fluid" >
            <!-- Brand -->
            <a class="h2 mb-0 text-blue text-uppercase d-none d-lg-inline-block"> {{ pagename }} </a>
            <!-- Form -->
            {% include "blocks/search.html" %}
            <!-- User -->
            {% include "blocks/profile_menu.html" %}
        </div>
    </nav>
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
         style="min-height: 600px; background-size: cover; background-position: center top;">
        <!-- Mask -->
        <span class="mask bg-gradient-default opacity-5"></span>
        <!-- Header container -->
        <div class="container-fluid d-flex align-items-center">
            <div class="row">
                <div class="col-lg-7 col-md-10">
                    <h1 class="display-2 text-white">Привет, {{ user.username }}</h1>
                    <p class="text-white mt-0 mb-4">Это страница вашего профиля. Здесь вы можете просмотреть и изменить
                        информацию о себе.</p>
                    <div class="btn-group">
                        <button onclick="myFunction()" href="#!" class="btn btn-info btn-xs">Редактировать</button>
                        <button onclick="CopyLink();" class="btn btn-outline-primary btn-xs" id="copyButton">Ссылка на
                            профиль
                        </button>
                        <button class="btn btn-outline-danger btn-xs" id="copyResult">&lt;</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  ВСПЛЫВАЮЩЕЕ МЕНЮ ИЗМЕНЕНИЯ АВАТАРА  -->
    <div class="overlay" id="avatar_menu">
        <div class="col-xl-3 order-xl-2 mb-5 mb-xl-0 popup">
            <div class="row justify-content-center mb-5">
                <h3 class="mb-2" style="z-index: 700;">Обновление аватара</h3>
            </div>
            <div class="row justify-content-center mt-2">
                <a class="close" href="#">&times;</a>
                <div class="col-lg-3 order-lg-2">
                    <div class="card-profile-image">
                        <a href="#">
                            <img src="{{ MEDIA_URL }}{{ picture }}" class="rounded-circle">
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-header text-center border-0 pt-5 pt-md-2 pb-0 pb-md-4">
                <div class="d-flex justify-content-lg-between justify-content-between">
                    <a href="{{ user.telegram_link }}" class="btn-icon float-lg-left ml-4" style="">
                        <i class="fab fa-telegrams fa-3x tg-icon"></i>
                    </a>
                    <a href="#avatar_menu" class="btn-icon float-lg-right mr-4" style="transition: all 0.3s ease-out;">
                    <span class="fa-stack dfa-lg" style="font-size: 26px;">
                      <i class="fa fa-circles fa-stack-2x"></i>
                      <i class="fa fa-cameras fa-stack-1x" style="color: white; font-size: 23px;"></i>
                    </span>
                    </a>
                </div>
            </div>

            <div class="card-body pt-0 pt-md-4">
                <div class="text-center">
                    <a href='/gencon'>
                <span class="btn btn-outline-danger">
                  Сгенерировать Identicon
                <span class="font-weight-light"></span>
                </span></a>
                    <div class="h5 font-weight-300">
                        <i class="ni location_pin mr-2"></i>
                    </div>
                    <div>
                        Или загрузите свое фото:
                    </div>
                    <hr class="my-4"/>
                    <p>Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and
                        records all of his own music.</p>
                    <a href="#">Show more</a>
                </div>
            </div>
        </div>
    </div>
    <!--  END OF ВСПЛЫВАЮЩЕЕ МЕНЮ ИЗМЕНЕНИЯ АВАТАРА  -->


    <div class="container-fluid mt--7">
        <div class="row"></div>
            <div class="col-xl-4 float-lg-right">
                <div class="order-xl-2 mb-5 mb-xl-0">
                <div class="card card-profile shadow">
                    <div class="row justify-content-center">
                        <div class="col-lg-3 order-lg-2">
                            <div class="card-profile-image">
                                <a href="#">
                                    <img src="{{ MEDIA_URL }}{{ picture }}" class="rounded-circle"
                                         style="width: 135px;">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                        <div class="d-flex justify-content-lg-between justify-content-between">
                            <a href="{{ user.telegram_link }}" class="btn-icon float-lg-left ml-4" style="">
                                <i class="fab fa-telegram fa-3x tg-icon"></i>
                            </a>
                            <a href="#avatar_menu" class="btn-icon float-lg-right mr-4"
                               style="transition: all 0.3s ease-out;">
                    <span class="fa-stack fa-lg" style="font-size: 26px;">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="fa fa-camera fa-stack-1x" style="color: white; font-size: 23px;"></i>
                    </span>
                            </a>
                        </div>
                    </div>

                    <div class="card-body pt-0 pt-md-4">
                        <div class="row">
                            <div class="col">
                                <div class="card-profile-stats d-flex justify-content-center mt-md-0">
                                    <div>
                      <span class="heading">{{ user.projects_cnt }}
                          <i class="ni ni-app" style="vertical-align: -3px;"></i>
                      </span>
                                    </div>
                                    <div>
                      <span class="heading">{{ user.stars_cnt }}
                          <i class="fa fa-star"></i>
                      </span>
                                    </div>
                                    <div>
                      <span class="heading">{{ user.rate }}
                          <i class="ni ni-trophy" style="vertical-align: -3px;"></i>
                      </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <h3 id="user-name">
                                {{ user.first_name }} {{ user.last_name }}
                            </h3>
                            <div class="h5 font-weight-300" style="margin-top: -25px;">
                                <i class="ni location_pin mr-2"></i>
                                <p id="user-location">{{ user.city }}, {{ user.country }}</p>
                            </div>
                            <hr class="my-4"/>
                            <p id="user-bio">{{ user.bio }}</p>
                        </div>
                    </div>
                </div>
            </div>


                <div class="order-xl-2 mb-5 mt-md-4 mb-xl-0">
                    <div class="card card-profile shadow">
                        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                    </div>

                        <div class="card-body pt-0 pt-md-4">
                        <div class="row">
                            <div class="col">
                                <div class="card-profile-stats d-flex justify-content-center mt-md-0">
                                    <div>
                      <span class="heading">{{ user.projects_cnt }}
                          <i class="ni ni-app" style="vertical-align: -3px;"></i>
                      </span>
                                    </div>
                                    <div>
                      <span class="heading">{{ user.stars_cnt }}
                          <i class="fa fa-star"></i>
                      </span>
                                    </div>
                                    <div>
                      <span class="heading">{{ user.rate }}
                          <i class="ni ni-trophy" style="vertical-align: -3px;"></i>
                      </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <h3 id="user-name">
                                {{ user.first_name }} {{ user.last_name }}
                            </h3>
                            <div class="h5 font-weight-300" style="margin-top: -25px;">
                                <i class="ni location_pin mr-2"></i>
                                <p id="user-location">{{ user.city }}, {{ user.country }}</p>
                            </div>
                            <hr class="my-4"/>
                            <p id="user-bio">{{ user.bio }}</p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 order-xl-1 scrolling">
                <form role="form" action="" method="POST" id="profile-form">
                    {% csrf_token %}
                    <div class="card bg-secondary shadow">
                        <div class="card-header bg-white border-0">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">Мой аккаунт</h3>
                                </div>
                                <div class="col-4 text-right">
                                    <button type="submit" class="btn btn-sm btn-primary">Сохранить</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h6 class="heading-small text-muted mb-4">Общая информация</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-username"
                                                   id="focus">Никнейм</label>
                                            {{ form.username }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-email">Почта</label>
                                            {{ form.email }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-first-name">Имя</label>
                                            {{ form.first_name }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-last-name">Фамилия</label>
                                            {{ form.last_name }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-4"/>
                            <!-- Address -->
                            <h6 class="heading-small text-muted mb-4">Контактная информация (по желанию)</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    {% include "blocks/countries.html" %}

                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="form-control-label" for="country">Страна</label>
                                            <select id="country" name="country"
                                                    class="form-control form-control-alternative">
                                            </select>
                                        </div>
                                    </div>


                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="form-control-label" for="state">Город</label>
                                            <select name="state" id="state"
                                                    class="form-control form-control-alternative">
                                                <option selected value="{{ user.city }}">{{ user.city }}</option>
                                            </select></br>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-github">Ваш Github (ссылка на
                                                профиль)</label>
                                            {{ form.github_link }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-gitlab">или Ваш Gitlab (ссылка
                                                на профиль)</label>
                                            {{ form.gitlab_link }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-telegram">Telegram</label>
                                            {{ form.telegram_link }}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-linkedin">LinkedIn</label>
                                            {{ form.linkedIn_link }}
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <hr class="my-4"/>
                            <!-- Description -->
                            <h6 class="heading-small text-muted mb-4">О себе</h6>
                            <div class="pl-lg-4">
                                <div class="form-group">
                                    <label>Био</label>
                                    {{ form.bio }}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
    </div>
</div>
{% endblock %}


{% block footer %}
    {% include 'blocks/footer.html' %}
{% endblock %}

{% block scripts %}
    <script>
        let $ = s => [].slice.call(document.querySelectorAll(s));

        // log events as they happen:
        let t = $('#tags')[0];
        t.addEventListener('input', log);
        t.addEventListener('change', log);
        function log(e) {
            $('#out')[0].textContent = `${e.type}: ${this.value.replace(/,/g,', ')}`;
        }

        // hook 'em up:
        $('input[type="tags"]').forEach(tagsInput);
    </script>
    <script>
        new SimpleMDE({
            element: document.getElementById("input-description"),
            autosave: {
                enabled: true,
                unique_id: "input-description",
		    },
            previewRender: function(plainText, preview) { // Async method
                setTimeout(function(){
                    preview.innerHTML = customMarkdownParser(plainText);
                }, 250);

                return "Загрузка...";
            },
            placeholder: "Что конкретно Вы ходите сделать? Подробно опишите идею и цели Вашего проекта. Вы сможете редактировать это поле в дальнейшем.",
        });
    </script>
{% endblock %}