{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Connections" %}{% endblock %}

{% block content %}
<br><br>
<div class="container mt--3 pb-5w">
  <div class="row justify-content-center">
    <div class="col-lg-9">
      <div class="card bg-secondary shadow border-10">
          <div class="card-header bg-transparent pb-lg-15">
          {% if form.accounts %}
          <div class="text-muted text-center mt-2 mb-3"><big>Вы можете войти в свой аккаунт, используя любой из этих аккаунтов:</big></div>
                {% for base_account in form.accounts %}
                {% with base_account.get_provider_account as account %}
                <form method="post" action="{% url 'socialaccount_connections' %}">
                {% csrf_token %}

                {% for base_account in form.accounts %}
                {% with base_account.get_provider_account as account %}
                <div class="btn-wrapper text-center">
                    <div class="radio-toolbar">
                    <input id="id_account_{{ base_account.id }}" type="radio" name="account" value="{{ base_account.id }}"/>
                    <label for="id_account_{{ base_account.id }}">
                    <span class="socialaccount_provider btn btn-neutral {{ base_account.provider }} {{ account.get_brand.id }}" style=" pointer-events: none;">{{account.get_brand.name}} {{ account }}</span>
                    </label>
                    </div>
                </div>
                {% endwith %}
                {% endfor %}

                <div>
                <button type="submit" class="btn btn-warning">{% trans 'Удалить' %}</button>
                </div>

                </fieldset>

                </form>
                {% endwith %}
                {% endfor %}
        {% else %}
        <div class="text-muted text-center mt-2 mb-3"><big>У вас сейчас нет добавленных аккаунтов</big></div>
        {% endif %}
      </div>
      </div>
    </div></div></div>
    <br><br>
    <div class="container mt--3 pb-5w">
      <div class="row justify-content-center">
        <div class="col-lg-9">
          <div class="card bg-secondary shadow border-10">
              <div class="card-header bg-transparent pb-lg-15">
               <div class="text-center mt-2 mb-3"><big>Хотите добавить новый аккаунт?</big></div>

                  <div class="btn-wrapper text-center">
                    <a href="/accounts/github/login/?process=connect" class="btn btn-neutral btn-icon">
                      <span class="btn-inner--icon"><img src="/static/img/icons/common/github.svg"></span>
                      <span class="btn-inner--text">Github</span>
                    </a>
                    <a href="/accounts/google/login/?process=connect" class="btn btn-neutral btn-icon">
                      <span class="btn-inner--icon"><img src="/static/img/icons/common/google.svg"></span>
                      <span class="btn-inner--text">Google</span>
                    </a>
                  </div>
              </div></div></div></div></div>
{% endblock %}


{% block footer %}
    <footer class="footer_fixed" style="background: #301c4f;">
        <div class="row align-items-center">
          <div class="col-xl-4">
            <div class="copyright text-center text-xl-right text-muted">
              © 2019 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">Creative Tim</a>
            </div>
          </div>
          <div class="col-xl-6">
            <ul class="nav nav-footer justify-content-center justify-content-xl-end">
              <li class="nav-item">
                <a href="https://www.creative-tim.com" class="nav-link" target="_blank">Creative Tim</a>
              </li>
              <li class="nav-item">
                <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About Us</a>
              </li>
              <li class="nav-item">
                <a href="https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link" target="_blank">concat.support@gmail.com</a>
              </li>
            </ul>
          </div>
        </div>
    </footer>
{% endblock %}